.*
Implementation/.*
!/.gitignore

*.db
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.pydevproject
.metadata/
.recommenders/
.metadata
.recommenders
Implementation/.metadata
Implementation/.metadata/

.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

Implementation/.metadata/.log
Implementation/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Implementation/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Implementation/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Implementation/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Implementation/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
Implementation/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Implementation/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Implementation/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Implementation/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Implementation/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Implementation/.metadata/.plugins/org.eclipse.team.cvs.core/.running
Implementation/.metadata/version.ini
